@import "./reset.css";

body {
  display: grid;
  grid-template-columns: minmax(800px, 1200px);
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin: 1rem;
  height: 70px;
  font-size: xx-large;
  font-weight: bold;
}

.content-add {
  border: 2px solid black;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contents {
  border: 2px solid black;
  margin-top: 1rem;
  display: grid;
  grid-template-rows: repeat(1, minmax(70px, 1fr));
  padding: 10px;
}

.todolist {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
}

.todo {
  border: 2px solid black;
  width: 250px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 10px;
}
